body {
    font-family: 'Courier New', monospace;
    background-color: #E9E0D8;
    padding: 20px;
    color: #324259;
}

#text-container {
    white-space: pre-wrap;
    font-size: 16px;
    cursor: pointer; 
}
a {
    text-decoration: none;
    color: #324259; 
}

a:hover {
    text-decoration: underline;
}