/*body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  background-color: #E9E0D8; Updated background color 
  color: #324259; Updated text color 
}*/

header {
  background-color: #E9E0D8;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fffaf6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote {
  font-style: italic;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.hidden {
  display: none;
}

#truth {
  margin-top: 20px;
}

body {
    font-family: 'Courier New', monospace;
    background-color: #E9E0D8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #324259;
  }
  
  .container {
    text-align: center;
  }
  
  .poem {
    margin-bottom: 20px;
  }
  
  button {
    font-family: 'Courier New', monospace;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #324259;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ddceaa;
  }
  a {
    text-decoration: none;
    color: #324259; 
  }
  
  a:hover {
    text-decoration: underline;
  }